{% extends "form.html" %}

{% block body%}
<div class="auth-container">
	<a href="{{ url_for('home.main') }}" class="back"><i class="fas fa-arrow-left"></i></a>
	<h2>Welcome back!</h2>
	<form class="row g-3 needs-validation" method="post" novalidate>
		{{ form.hidden_tag() }}
	  <div class="col-12">
		<label for="validationCustomEmail" class="form-label">Email:</label>
		<div class="input-group mb-1 has-validation">
			{{ form.email(size=64) }}
			<div class="invalid-feedback">
			  Please enter your Email.
			</div>
		</div>
		<div class="form-text text-danger ms-2">
			{%- for error in form.email.errors %}
				*{{error}}
			{%- endfor %}
		</div>
	  </div>
	  <div class="col-12">
		<label for="validationCustomPassword" class="form-label">Password:</label>
		<div class="input-group mb-1 has-validation">
			{{ form.password(size=32) }}
			<div class="invalid-feedback">
			  Please enter a password.
			</div>
		</div>
		<div class="form-text text-danger ms-2">
			{%- for error in form.password.errors %}
				*{{error}}
			{%- endfor %}
		</div>
	  </div>
	  <div class="col-12">
		{{ form.submit() }}
	  </div>
	</form><br>
	<p class="text-center ">Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
	<p class="text-center ">Forgot Password? <a href="{{ url_for('auth.register') }}">Reset</a></p>
</div>
{% endblock %}

