{% extends "layout.html" %}

{% block content %}
<div class="form1">
	<form id="login-form" action="" method="POST">
		{{ form.hidden_tag() }}
		<div class="col-center -gap-md">
			<div class="col-left -gap-xs occupy-x"> 
				<label class="outside-inp" for="login-form-email"> 
					<span class="body-text-sm medium-text">Email</span>
				</label>
				<div class="inp-field char-inp sm c-normal"> 
					{{ form.email(size=32)}}
				</div>
				{%- for error in form.email.errors %}
					<div class="inp-field--tooltip -gap-xs active" id="login-form-email_tooltip">
						<span class="ms-rounded body-text-sm">error</span>
						<span class="body-text-xs">{{error}}</span>
					</div>
				{%- endfor %}
			</div>
			<div class="col-left -gap-xs occupy-x"> 
				<label class="outside-inp" for="login-form-password" style="padding-top: 10px;"> 
					<span class="body-text-sm medium-text">Password</span> 
				</label>
				<div class="inp-field char-inp sm c-normal"> 
					{{ form.password(size=32) }}
				</div>
				{%- for error in form.email.errors %}
					<div class="inp-field--tooltip -gap-xs active" id="login-form-password_tooltip">
						<span class="ms-rounded body-text-sm">error</span>
						<span class="body-text-xs">{{error}}</span>
					</div>
				{%- endfor %}
			</div>
			<div class="inp-field submit button primary-button sm c-normal">
				{{ form.submit() }}
			</div>
		</div>
	</form>
	<div class="row-center -gap-xs occupy-x">
		<span class="body-text-sm" style="color: var(--light)">Don't have an account?</span>
		<a href="{{ url_for('auth.register') }}" id="login">Sign Up</a>
	</div>
	<div class="row-center -gap-xs occupy-x">
		<span class="body-text-sm" style="color: var(--light)"> Forgot Password?</span>
		<a href="{{ url_for('auth.reset_password_request') }}" id="login">Password Reset</a>
	</div>
</div>
{% endblock %}