{% extends "form.html" %}

{% block body%}
<div class="auth-container">
	<a href="{{ url_for('home.main') }}" class="back"><i class="fas fa-arrow-left"></i></a>
	<h2>Welcome to DATAVIZ!
	</h2>
	<form class="row g-3 needs-validation" method="post" novalidate>
		{{ form.hidden_tag() }}
	  <div class="col-md-4">
		<label for="validationCustom01" class="form-label">First name</label>
		{{ form.firstname(size=32) }}
		<div class="valid-feedback">
		  Looks good!
		</div>
		<div class="invalid-feedback">
			Please choose a valid First name.
		</div>
		<div class="form-text text-danger ms-1">
			{%- for error in form.username.errors %}
				*{{error}}
			{%- endfor %}
		</div>
	  </div>
	  <div class="col-md-4">
		<label for="validationCustom02" class="form-label">Last name</label>
		{{ form.lastname(size=32) }}
		<div class="valid-feedback">
		  Looks good!
		</div>
		<div class="invalid-feedback">
			Please choose a valid Last name.
		</div>
		<div class="form-text text-danger ms-1">
			{%- for error in form.username.errors %}
				*{{error}}
			{%- endfor %}
		</div>
	  </div>
	  <div class="col-md-4">
		<label for="validationCustomUsername" class="form-label">Username</label>
		<div class="input-group has-validation">
		  <span class="input-group-text" id="inputGroupPrepend">@</span>
		  {{ form.username(size=64) }}
		  <div class="valid-feedback">
			Looks good!
		  </div>
		  <div class="invalid-feedback">
			Please choose a username.
		  </div>
		</div>
		<div class="form-text text-danger ms-1">
			{%- for error in form.username.errors %}
				*{{error}}
			{%- endfor %}
		</div>
	  </div>
	  <div class="col-12 mt-2">
		<label for="validationCustomEmail" class="form-label">Email:</label>
		  <div class="input-group mb-2 has-validation">
			{{ form.email(size=64) }}
			<span class="input-group-text" id="basic-addon2">me@example.com</span>
			<div class="valid-feedback">
				Looks good!
			</div>
			<div class="invalid-feedback">
				Please enter your Email.
			</div>
		</div>
		<div class="form-text text-danger ms-2">
			{%- for error in form.email.errors %}
				*{{error}}
			{%- endfor %}
		</div>
		<div class="col-12 mt-3">
			<label for="validationCustomPassword" class="form-label">Password:</label>
			<div class="input-group mb-3 has-validation">
				{{ form.password(size=32) }}
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					  Please enter a password.
				</div>
			</div>
			<div class="form-text text-danger ms-2">
				{%- for error in form.password.errors %}
					*{{error}}
				{%- endfor %}
			</div>
		</div>
		<div class="col-12 mt-1">
			<label for="validationCustomPassword" class="form-label">Confirm Password:</label>
			<div class="input-group mb-3 has-validation">
				{{ form.password2(size=32) }}<br>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					  Please enter a password.
				</div>
			</div>
			<div class="form-text text-danger ms-2">
				{%- for error in form.password2.errors %}
					*{{error}}
				{%- endfor %}
			</div>
		</div>
	</div>
	  <div class="col-12">
		<div class="form-check">
		  {{ form.terms }}
		  <label class="form-check-label" for="invalidCheck">
			Agree to terms and conditions
		  </label>
		  <div class="valid-feedback">
			Looks good!
		  </div>
		  <div class="invalid-feedback">
			You must agree before submitting.
		  </div>
		</div>
		<div class="form-text text-danger ms-2">
			{%- for error in form.terms.errors %}
				*{{error}}
			{%- endfor %}
		</div>
	  </div>
	  <div class="col-12">
		{{ form.submit() }}
	  </div>
	</form><br>
	<p class="text-center ">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
</div>
{% endblock %}

