<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='/assets/ms_icons/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/main.mdc.sm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/main.mdc.md.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/main.mdc.lg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/main.mdc.xl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/main.mdc.xxl.css') }}">
	<script src="https://kit.fontawesome.com/92e004f315.js" crossorigin="anonymous"></script>
	<title>Authentication</title>
</head>
<body class="app" id="auth_root">
	<header class="app-header -hidden"></header>
	<main class="route col-left active" id="get-started">
		<div class="row-center mdc-ss mdc -gap-md -pyt-md occupy-x -justify-left" style="padding-left: 4%;padding-right:4%">
			<a href="{{ url_for('auth.login') }}" class="button app-navlink icon-button" data-route="home">
				<span class="ms-rounded">arrow_back</span>
			</a>
			<span class="subtitle-text-xs mdc lg-xl-xxl-hidden bold-text">Welcome to AlgoTrade</span>
		</div>
		<section class="auth-section mdc br col-2">
			<!--
					Auth container wraps the main parent container of both the signup and login forms.
					It has a shadow applied to it for a nice popup effect on lg, xl & xxl screens.
			-->
			<div class="auth-container col-center mdc-ss mdc -pxl-sm -pxr-sm -pyt-lg -pyb-md">
				<div class="col-center -gap-md occupy-x">
					<!--
							This is the main parent wrapper for the tab content container which is parent to individual forms
							it has a display type of grid and allows for content switching efficiently, which also is made possible by 
							toggling an `active` css classname on a form to hide one and show the other and so on.
					-->
					<div class="tab-content-wrapper">
						<div class="tab-content col-center -gap-md form-type active" data-tab="login-form">
							<span class="subtitle-text-sm mdc sm-md-hidden bold-text">Welcome to AlgoTrade</span>
							{% with messages = get_flashed_messages(with_categories=True) %}
								{% if messages %}
									{% for category, message in messages %}
									<div class="body-text-sm notification-text {{category}}">{{ message }}</div>
									{% endfor %}
								{% endif %}
							{% endwith %}
							<form id="login-form" action="" method="POST">
								{{ form.hidden_tag() }}
								<div class="col-center -gap-md">
									<div class="col-left -gap-xs occupy-x"> 
										<label class="outside-inp" for="login-form-email"> 
											<span class="body-text-sm medium-text">Email</span>
										</label>
										<div class="inp-field char-inp sm c-normal"> 
											{{ form.email(size=32) }}
										</div>
										{%- for error in form.email.errors %}
											<div class="inp-field--tooltip -gap-xs active" id="login-form-email_tooltip">
												<span class="ms-rounded body-text-sm">error</span>
												<span class="body-text-xs">{{error}}</span>
											</div>
										{%- endfor %}
									</div>
									<div class="col-left -gap-xs occupy-x"> 
										<label class="outside-inp" for="login-form-password"> 
											<span class="body-text-sm medium-text">Password</span> 
										</label>
										<div class="inp-field char-inp sm c-normal"> 
											{{ form.password(size=32) }}
										</div>
										{%- for error in form.email.errors %}
											<div class="inp-field--tooltip -gap-xs active" id="login-form-password_tooltip">
												<span class="ms-rounded body-text-sm">error</span>
												<span class="body-text-xs">{{error}}</span>
											</div>
										{%- endfor %}
									</div>
									<div class="inp-field submit button primary-button sm c-normal">
										{{ form.submit() }}
									</div>
								</div>
							</form>
							<div class="row-center -gap-xs occupy-x">
								<span class="body-text-sm" style="color: var(--light)">Don't have an account?</span>
								<a href="{{ url_for('auth.register') }}" id="login">Sign Up</a>
							</div>
							<div class="row-center -gap-xs occupy-x">
								<span class="body-text-sm" style="color: var(--light)">Forgot Password?</span>
								<a href="{{ url_for('auth.reset_password_request') }}" id="login">Password Reset</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script src="{{ url_for('static', filename='/JS/main.js') }}"></script>
</body>

</html>