alembic==1.13.2
blinker==1.8.2
cffi==1.17.0
chardet==5.2.0
click==8.1.7
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
dnspython==2.6.1
email-validator==2.1.0.post1
emailvalidator==0.3
Flask==2.3.2
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.0.4
Flask-WTF==1.2.1
fonttools==4.53.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jwt==1.3.1
kiwisolver==1.4.5
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.9.2
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
reportlab==4.2.2
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
six==1.16.0
SQLAlchemy==2.0.32
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.3
WTForms==3.1.2
XlsxWriter==3.2.0
