<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATAVIZ - Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>

    <!-- Collapsible Side Navbar -->
    <nav class="side-navbar" id="sidebar">
        <div class="collappse" id="navbarContent">
            <h3 class="logo"><span class="link-span">DATAVIZ</span></h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collappse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars icn"></i>
            </button>
            <ul>
                <li><a href="{{url_for('home.home')}}"><i class="fas fa-tachometer-alt"></i> <span class="link-span">Dashboard</span></a></li>
                <li><a href="{{url_for('upload.main')}}"><i class="fas fa-upload"></i> <span class="link-span">Upload Data</span></a></li>
                <li><a href="{{url_for('data.eda')}}"><i class="fas fa-chart-line"></i> <span class="link-span">Data Analysis</span></a></li>
                <li><a href="{{url_for('data.report')}}"><i class="fas fa-file-alt"></i> <span class="link-span">Reports</span></a></li>
                <li><a href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out"></i> <span class="link-span">Logout</span></a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    showMessage('{{message}}', '{{category}}');
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
