<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Analysis Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('home.main') }}" class="brand-logo">Data Analysis Platform</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {%if current_user.is_authenticated%}
                    <li><a href="{{ url_for('upload.main') }}">Upload Data</a></li>
                    <li><a href="{{ url_for('data.cleaning') }}">Clean Data</a></li>
                    <li><a href="{{ url_for('data.eda') }}">EDA</a></li>
                    <li><a href="{{ url_for('data.report') }}">Reports</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {%else%}
                    <li><a href="{{ url_for('auth.login') }}">Login/Signup</a></li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message"  id="notification">
                    <!--
                        The text in the notification text has to be changed dynamically.
                        depending on the message. The color will be handled by the css 
                        classnames => success: green, danger: red; info: orange.
                    -->
                    <span class="{{category}}" id="notification-texta">
                        {{message}}
                    </span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Data Analysis Platform. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
